{% comment %}
  Footer for a standard workshop.
{% endcomment %}
<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
	Copyright &copy; 2021
	{% if site.carpentry == "swc" %}
	<a href="{{ site.molssi_site }}">The Molecular Sciences Software Institute</a>
	{% elsif site.carpentry == "dc" %}
	<a href="{{ site.dc_site }}">Data Carpentry</a>
	{% elsif site.carpentry == "lc" %}
	<a href="{{ site.lc_site }}">Library Carpentry</a>
	{% elsif site.carpentry == "cp" %}
	<a href="{{ site.carpentries_site }}">The Carpentries</a>
	{% endif %}
      </h4>
    </div>
    <div class="col-md-6" align="right">
      <h4>
	<a href="https://msse.berkeley.edu/">MSSE Program, The University of California, Berkeley</a>
      </h4>
    </div>
  </div>
</footer>
